/* This is the style.css file for Lab 3 */

* {
  font-family: Noto;
}

body {
  background-color: lightcyan;
  max-width: 100%;
  max-height: 100%;
}

header {
  margin: auto;
}

#title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border-style: solid;
  border-color: #e75480;
  border-width: 1mm;
  border-radius: 25px;
  background-color: lightcyan;
}

footer {
  margin: auto;
}

h1 {
  color: #e75480;
  text-align: center;
  font-size: 5vh;
}

h2 {
  color: rgb(42, 75, 124);
  text-align: center;
}

#date {
  font-size: 1.5em;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  display: block;
}

#navigation {
  text-align: center;
  list-style-type: none;
}

#attendance {
  text-align: center;
}

#attendance_list {
  list-style-type: none;
  text-decoration: underline rgb(42, 75, 124) 3px;
}

#agenda {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#todo {
  display: inline-block;
  width: 49%;
}

#resources {
  display: inline-block;
  width: 49%;
}

#contact {
  display: inline-block;
  width: 49%;
}

section {
  border-style: solid;
  border-color: rgb(42, 75, 124);
  border-width: 1mm;
  border-radius: 25px;
  background-color: hsl(335, 100%, 95%);
  margin-top: 10pt;
  margin-bottom: 10pt;
  margin-left: 10pt;
  margin-right: 10pt;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: static;
}

section:hover {
  box-shadow: 0 0 25px rgb(42, 75, 124);
  border-radius: 25px;
}
section:active {
  box-shadow: 0 0 25px #e75480;
  border-radius: 25px;
}

#register {
  border-style: dashed;
  border-color: rgb(42, 75, 124);
  border-width: 1ex 1ex 1ex 1ex;
  margin: 10px 10px 10px 10px;
  padding: 15px 15px 15px 15px;
  background-color: hsl(335, 100%, 95%);
  display: flex;
  flex-direction: row;
  align-self: auto;
  align-items: center;
  align-content: space-around;
}

#diagrams {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
}

.pic_one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1;
}

.pic_two {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

video {
  width: 100%;
  height: 100%;
}

a:link {
  color: rgb(42, 75, 124);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #e75480;
}

a:active {
  color: black;
}

@font-face {
  font-family: Noto;
  src: url(fonts/Noto_Sans_Display/static/NotoSansDisplay/NotoSansDisplay-Light.ttf);
}

@media (max-width: 500px) {
  h1 {
    color: black;
  }
}
